.container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: #fff;
    padding: 36px 36px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 420px;
    box-shadow: 0px 0px 15px 0px #00000040;
    border-radius: 20px 0 0 0;
    transform: translate(100%, 0);
    transition: transform .2s ease;
}

.active {
    transform: translate(0%, 0);
}

.close {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 15px;
    top: 15px;
    cursor: pointer;
}