.selections {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
    gap: 32px;
}

@media (max-width: 1460px) {
    .selections {
        gap: 16px;
    }
}

@media (max-width: 1320px) {
    .selections {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 991px) {
    .selections {
        grid-template-columns: 1fr;
    }
}

.noGroupsMessage {
    color: #555;
    font-size: 16px;
    padding: 14px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 25em;
    background-color: #f9f9f9;
    font-weight: 500;
    margin: 5px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    cursor: pointer; /* Добавляем курсор pointer */
    transition: background-color 0.2s, border-color 0.2s;
}

.noGroupsMessage:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
}

.loadingIndicator {
    text-align: center;
    padding: 14px;
}