.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3AA6A180;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    direction: rtl;
    position: relative;
}

.modalHeader {
    padding: 60px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalTitle {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.closeButton {
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: inline-block;
}

.modalBody {
    padding: 20px 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.chartElement {
    display: flex;
    border: 1px solid #3AA6A1;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 14px 22px 14px 29px;
    background: #fff;
}

.chartTitle {
    font-size: 18px;
}

.chartButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.orderInput {
    width: 60px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.visibilityCheckbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: none;
}

.eye {
    width: 37px;
    height: 37px;
    display: inline-block;
    cursor: pointer;
}

.closeEye {
    width: 37px;
    height: 37px;
    cursor: pointer;
    display: none;
}

.hiddenChart .eye  {
    display: none;
}

.hiddenChart .closeEye {
    display: inline-block;
}

.dragHandle {
    cursor: grab;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.hiddenChart {
    opacity: 0.5;
}

.modalFooter {
    padding: 20px 50px 60px;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

@media (max-width: 576px) {
    .modalTitle {
        font-size: 28px;
    }

    .modalHeader {
        padding-top: 45px;
    }

    .modalBody {
        padding: 20px 35px;
    }

    .modalFooter {
        padding: 20px 45px 45px;
    }

    .chartElement {
        padding: 15px 27px 15px 18px;
    }

    .chartTitle {
        font-size: 16px;
    }

    .eye, .closeEye {
        width: 25px;
        height: 25px;
    }

    .dragHandle {
        width: 25px;
        height: 25px;
    }
}